<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
        <li>
            <a href="#/dashboard" ><i class="fa fa-dashboard fa-fw"></i> 工作台</a>
        </li>
        <li>
            <a href="#/course"><i class="fa fa-book fa-fw"></i> 课程</a>
        </li>
        <li>
            <a href="#/teacher"><i class="fa fa-user-md fa-fw"></i> 讲师</a>
        </li>
        <li>
            <a href="#/student"><i class="fa fa-user fa-fw"></i> 学员</a>
        </li>
        <li>
            <a href="#/team"><i class="fa fa-sitemap fa-fw"></i> 团队<span class="fa arrow"></span></a>
        </li>
    </ul>
</div>
<!-- /.sidebar-collapse -->