<div class="row">
    <div class="col-lg-12 page-nav-header">
        <div class="navbar-header">
            <sapn class="navbar-brand">
            <i class="fa fa-user fa-fw"></i> 学员
            </sapn>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                学员列表
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>