<div class="row">
    <div class="col-lg-12 page-nav-header">
        <div class="navbar-header">
            <sapn class="navbar-brand">
            <i class="fa fa-user fa-fw"></i> 学员
            </sapn>
                
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                学员列表
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a href="#/teacher/1" class="list-group-item">
                    <h4 class="list-group-item-heading">张三</h4>
                    <p class="list-group-item-text">18930831010</p>
                    </a>
                    <a href="#/teacher/1" class="list-group-item">
                    <h4 class="list-group-item-heading">李四</h4>
                    <p class="list-group-item-text">18930831010</p>
                    </a>
                    <a href="#/teacher/1" class="list-group-item">
                    <h4 class="list-group-item-heading">李四</h4>
                    <p class="list-group-item-text">18930831010</p>
                    </a>
                    <a href="#/teacher/1" class="list-group-item">
                    <h4 class="list-group-item-heading">李四</h4>
                    <p class="list-group-item-text">18930831010</p>
                    </a>
                    <a href="#/teacher/1" class="list-group-item">
                    <h4 class="list-group-item-heading">李四</h4>
                    <p class="list-group-item-text">18930831010</p>
                    </a>
                    <a href="#/teacher/1" class="list-group-item">
                    <h4 class="list-group-item-heading">李四</h4>
                    <p class="list-group-item-text">18930831010</p>
                    </a>
                    <a href="#/teacher/1" class="list-group-item">
                    <h4 class="list-group-item-heading">李四</h4>
                    <p class="list-group-item-text">18930831010</p>
                    </a>
                   
                </div>
                 <a class="btn btn-default btn-block" href="#">查看更多</a>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                学员张三的事件
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="timeline">
                    <li class="timeline-inverted">
                        <div class="timeline-badge success">３
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">用户签到</h4>
                                <p><small class="text-muted"><i class="fa fa-clock-o"></i>９点</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>用户签到</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge success">２
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">确认报名</h4>
                                <p><small class="text-muted"><i class="fa fa-clock-o"></i>12点</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>１２确认用户缴费并报名成功</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge success">１
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">报名</h4>
                                <p><small class="text-muted"><i class="fa fa-clock-o"></i>11点</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>通过微信报名 大师行</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>