<!doctype html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta charset="utf-8">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <title>OneSale</title>
        <link rel="stylesheet" href="styles/style.css">
    </head>
    <body>
        <div id="wrapper">
            <!--[if lte IE 9]>
                <div class="text-warning">
                        <button data-dismiss="alert" class="close" type="button">×</button>
                        <strong>您正在使用低版本浏览器，</strong> 在本页面的显示效果可能有差异。
                        建议您升级到
                        <a href="http://www.google.cn/intl/zh-CN/chrome/" target="_blank">Chrome</a>
                        或以下浏览器：
                        <a href="www.mozilla.org/en-US/firefox/‎" target="_blank">Firefox</a> /
                        <a href="http://www.apple.com.cn/safari/" target="_blank">Safari</a> /
                        <a href="http://www.opera.com/" target="_blank">Opera</a> /
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">
                            Internet Explorer 10</a>
                </div>
            <![endif]-->
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" id="header">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/dahboard">OneSale</a>
                </div>
                <!-- /.navbar-header -->
                <ul class="nav navbar-top-links navbar-right" ng-hide="!SessionService.isAnonymus">
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle">
                        <i class="fa fa-plus fa-fw"></i>新建
                        </a>
                        <ul class="dropdown-menu dropdown-user" ng-click="$event.stopPropagation()">
                            <li>
                                <a href="#/course/add"><i class="fa fa-tasks fa-fw"></i> 新建课程
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#/teacher/add"><i class="fa fa-user-md fa-fw"></i> 新建讲师</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#/student/add"><i class="fa fa-user fa-fw"></i> 新建学员</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                    <li>
                        <a href="#/dashboard/newest">
                        <i class="fa fa-bell fa-fw"></i>
                        </a>
                    </li>
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user" ng-click="$event.stopPropagation()">
                            <li><a href="#/account/setting"><i class="fa fa-user fa-fw"></i> 帐户设置</a>
                            </li>
                            <li><a href="#/team/main"><i class="fa fa-sitemap fa-fw"></i> 团队管理</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#/passport/logout"><i class="fa fa-sign-out fa-fw"></i> 安全退出</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation" id='sidebar' ng-hide="!authentication.isAuth" ng-include="'views/main/sidebar.html'">
                    sidebar
                </div>
                <!-- /.navbar-static-side -->
            </nav>
            <div class="page-wrapper hide-sidebar" ui-view ng-class="{true: '', false: 'hide-sidebar'}[authentication.isAuth]">
                
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!-- Use this for product -->
        <!--<script src="scripts/build.js"></script>-->
        <!-- Use this for development -->
        <script src="bower_components/requirejs/require.js" data-main="scripts/main"></script>
    </body>
</html>